/* color */
$brand-primary: #283848  !default;
$brand-hover: #5C8B95 !default;
$brand-bg:#303030 !default;
$grey100: #283848!default;
$grey20: #C4D7EB !default;
$grey10: #ECECEC !default;
$white: #FFFFFF !default;
$red: #FF7575 !default;
$dark-red: #f04436 !default;
$blue: #11BFC8 !default;
$dark-blue: #22A0BC !default;
$green: #15D611 !default;
$dark-green: #5C8B95 !default;
$background: #F8F8F8 !default;




/* font-size */
/* h1 */
$h1: 36px !default;
$h1-lg: 36px !default;
$h1-sm: 36px !default;
$h1-xs: 26px !default;

/* h2 */
$h2: 36px !default;
$h2-lg: 36px !default;
$h2-sm: 36px !default;
$h2-xs: 21px !default;

/* h3 */
$h3: 21px !default;
$h3-lg: 21px !default;
$h3-sm: 21px !default;
$h3-xs: 15px !default;

/* h4 */
$h4: 18px !default;
$h4-lg: 18px !default;
$h4-sm: 18px !default;
$h4-xs: 15px !default;

/* h5 */
$h5: 16px !default;
$h5-lg: 16px !default;
$h5-sm: 16px !default;
$h5-xs: 16px !default;

/* h6 */
$h6: 15px !default;
$h6-lg: 15px !default;
$h6-sm: 15px !default;
$h6-xs: 15px !default;

/* base */
$base: 14px !default;
$base-lg: 16px !default;
$base-sm: 12px !default;

/* font-family */

$family-base:  'Poppins', 'sans-serif'!default;
$family-title:  'Poppins', 'sans-serif'!default;


/* breakpoints */
$screen-big-min: 1400px !default;
$screen-lg-min: 1200px !default;
$screen-md-min: 992px !default;
$screen-sm-min: 768px !default;
$screen-xs-min: 575px !default;
$screen-xss-min: 480px !default;